#dash-form-container {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: flex;
}

select {
    margin: 5px;
}

#chart-container {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 400px;
}