
/* SEARCH BAR */
#search-container {
  margin: 5px;
  padding: 5px;
  width: 100%;
}

#searchbar {
  border: 2px solid grey;
  border-radius: 25px;
  padding: 30px;
  margin: auto;
  width: 60%;
}

#radio-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 3px;
  width: 100%;
}

.align {
  display: flex;
}

.radio-btn {
  margin: 13px 5px 5px 15px;
}

label {
  margin: 5px;
}

/* Highlights partial term searches*/
.hl {
  background-color: rgb(175,228,245);
}


/* ALL PROJECTS TABLE */
#table-container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

td, th, tr {
    padding: 10px;
}

#pubglobe {
    float: right;
}

.no-background:hover {
    background-color: white;
}

tr:hover {
    background-color: rgb(238,238,238);
}

.detailsBtn {
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  float: right;
  border: 1px solid #93c3ec;
  border-radius: 15px 50px 30px;
  width: 120px;
  background-color: white;
  color: black;
  font-weight: normal;
}

.detailsBtn:hover {
  background-color: #45bce1;
  font-weight: bold;
}

/* INDIVIDUAL PROJECT DIV */
#detail-container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

/* INDIVIDUAL PROJECT BUTTONS*/
#btns {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#back-btn {
  width:100%;  
  margin-top: 10px;
  background-color: grey;
  cursor: pointer;
}

#download-btn, #view-btn, #data-btn {
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
}