{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

{{ range  $.Params.js }}
	<script type="text/javascript" src="{{ . }}"></script>
{{ end }}
{{ range  $.Params.css }}
<link rel="stylesheet" href="{{ . }}" | relURL/>
{{ end }}
<body>
<div id="hero" class="wrap">
  <h2>{{.Title }}</h2>
  {{ .Content }}

  <div id="summary-table-data-container">
    <table id="summary-data-table">
      <tr>
        <th>Total Samples</th>
        <th>Number of Species</th>
        <th>Number of Countries</th>
      </tr>
    </table>
  </div>

  <button id="toggle-data-table" onclick="toggleTableButton()">Toggle Top Ten By Country and Species</button>

  <div id="topten-data-table-container" style="display: none;">

    <table id="country-table">
      <tr>
        <th>Country</th>
        <th>Count</th>
      </tr>
    </table>

    <table id="species-table">
      <tr>
        <th>Species</th>
        <th>Count</th>
      </tr>
    </table>

</div>

<p>Generate Charts</p>

  <div id="dash-form-container">

    <select id="countrySelect">
      <option value="">By Country</option>
      <option value="bdByCountry">Bd Counts By Country</option>
      <option value="bsalByCountry">Bsal Counts By Country</option>
      <option value="bothByCountry">Both Bsal and Bd Counts By Country</option>
      <option value="bothStacked">Both Bsal and Bd Counts Stacked By Country</option>
    </select>

    <select id="result-select">
      <option value="">By Result</option>
      <option value="diseaseTestedBoth">Disease Tested Both</option>
      <option value="bdDetected">Bd Detected</option>
      <option value="bsalDetected">Bsal Detected</option>
      <option value="bothDetected">Both Detected</option>
      <option value="bdDetectedByCountry">Bd Detected By Country</option>
      <option value="bsalDetectedByCountry">Bsal Detected By Country</option>
      <option value="bothDetectedByCountry">Both Detected By Country</option>
      <option value="bdDetectedByGenus"> Bd Detected by Genus</option>
      <option value="bsalDetectedByGenus"> Bsal Detected by Genus</option>
      <option value="bothDetectedByGenus"> Both by Genus</option>
      <option value="bdDetectedByScientificName">Bd Detected By Scientific Name</option>
      <option value="bsalDetectedByScientificName">Bsal Detected By Scientific Name</option>
      <option value="bothDetectedByScientificName">Both Detected By Scientific Name</option>

    </select>

    <select id="by-year-select">
      <option value="">By Year Collected</option>
      <option value="bdByYear">Bd By Year</option>
      <option value="bsalByYear">Bsal By Year</option>
      <option value="bothByYear">Both (Total) By Year</option>
      <option value="bothByYearStacked">Both Stacked By Year</option>
      <option value="bdDetectedByYear">Bd Disease Detected By Year</option>
      <option value="bsalDetectedByYear">Bsal Disease Detected By Year</option>
      <option value="bothDetectedByYear">Both Diseases Detected By Year</option>
    </select>

    <select id="by-species-select">
      <option value="">By Species and Genus</option>
      <option value="bdGenus">Bd Genus</option>
      <option value="bsalGenus">Bsal Genus</option>
      <option value="bothGenus">Both Genus</option>
      <option value="bothGenusStacked">Both Stacked Genus</option>
      <option value="bdScientificName">Bd Scientific Name</option>
      <option value="bsalScientificName">Bsal Scientific Name</option>
      <option value="bothScientificName">Both Scientific Name</option>
      <option value="bothScientificNameStacked">Both Stacked Scientific Name</option>


    </select>
  </div>

   <div id="chart-container" >
      <canvas id="dashboardChart" height="600px" width="1000px" style="margin: auto;"></canvas>
   </div>  

</div>
</body>

<script>
  dashboard = new Dashboard();
</script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
