{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

{{ range  $.Params.js }}
	<script type="text/javascript" src="{{ . }}"></script>
{{ end }}
{{ range  $.Params.css }}
<link rel="stylesheet" href="{{ . }}" | relURL/>
{{ end }}
<body>
<div id="hero" class="wrap">
  <h2>{{.Title }}</h2>
  {{ .Content }}

  <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="toggleData(event, 'table-tab')">Tables</button>
  <button class="tablinks" onclick="toggleData(event, 'chart-tab')">Charts</button>
</div>

<!-- TABLE TAB -->
<div id="table-tab" class="tabcontent">
  <div id="summary-table-data-container">
    <table id="summary-data-table">
      <tr>
        <th>Total Samples</th>
        <th>Number of Species</th>
        <th>Number of Countries</th>
      </tr>
    </table>
  </div>

  <div id="pathogen-summary-container">
    <table id="pathogen-summary-table">
      <tr>
        <th>Pathogen Targeted</th>
        <th>Total Samples Tested</th>
        <th>Tested Positive</th>
        <th>Tested Negative</th>
      </tr>
    </table>
  </div>

  <div id="topten-data-table-container">

    <table id="country-table">
      <tr>
        <th>Country</th>
        <th>Count</th>
      </tr>
    </table>

    <table id="species-table">
      <tr>
        <th>Species</th>
        <th>Count</th>
      </tr>
    </table>

</div>

</div>

<div id="chart-tab" class="tabcontent" style="display: block;">
  <h4>Select a Chart:</h4>

  <div id="dash-form-container">

    <select id="result-select">
      <option value="">Result</option>
      <option value="bdDetectedByCountry">Bd Detected By Country</option>
      <option value="bsalDetectedByCountry">Bsal Detected By Country</option>
      <option value="bothDetectedByCountry">Both Detected By Country</option>
      <option value="bdDetectedByGenus"> Bd Detected by Genus</option>
      <option value="bsalDetectedByGenus"> Bsal Detected by Genus</option>
      <option value="bothDetectedByGenus"> Both by Genus</option>
      <option value="bdDetectedByScientificName">Bd Detected By Scientific Name</option>
      <option value="bsalDetectedByScientificName">Bsal Detected By Scientific Name</option>
      <option value="bothDetectedByScientificName">Both Detected By Scientific Name</option>
    </select>

    <select id="by-year-select">
      <option value="">Year Collected</option>
      <option value="bdDetectedByYear">Bd Disease Detected By Year</option>
      <option value="bsalDetectedByYear">Bsal Disease Detected By Year</option>
      <option value="bothDetectedByYear">Both Diseases Detected By Year</option>
    </select>

    <select id="by-species-select">
      <option value="">Genus and Scientific Name</option>
      <option value="bdGenus">Bd Genus</option>
      <option value="bsalGenus">Bsal Genus</option>
      <option value="bothGenus">Both Genus</option>
      <option value="bothGenusStacked">Both Stacked Genus</option>
      <option value="bdScientificName">Bd Scientific Name</option>
      <option value="bsalScientificName">Bsal Scientific Name</option>
      <option value="bothScientificName">Both Scientific Name</option>
      <option value="bothScientificNameStacked">Both Stacked Scientific Name</option>
    </select>

  </div> <!-- container for selects-->

  <div id="chart-container" >
    <canvas id="dashboardChart" height="600px" width="1000px" style="margin: auto;"></canvas>
 </div>  <!-- canvas container-->

  <div id="modal-container" style='display: none;'>
    <div class="modal-content">
      <span class="close"> &times;</span>

      <div id="modal-chart-container">
        <canvas id="modalChart" height="500px" width="300px" style="margin: auto;"></canvas>
      </div>

    </div>
   </div> <!--modal container-->

</div> <!--chart tab container-->


</div>
</body>

<script>
  dashboard = new Dashboard();
</script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
